/* Editor */
.query-editor {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    min-width: 400px;
    transition: margin-left 0.3s ease; /* Suaviza o ajuste ao ocultar a sidebar */
}

.queries-sidebar.hidden + .query-editor {
    margin-left: -200px; /* Ajusta a posição do editor quando a sidebar está oculta */
}

.request-config, .request-action {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

#protocol-toggle-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

#protocol-toggle-btn:hover {
    background-color: #3e8e41;
}

#query-url, #bearer-token {
    height: 40px;
    background-color: #3e3e3e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
}

#query-method {
    height: 40px;
    background-color: #3e3e3e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0 10px;
}

textarea {
    background-color: #3e3e3e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 150px;
    resize: vertical;
}

.request-body-txt {
    background-color: #3e3e3e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    height: 50%;
    resize: vertical;
}

#execute-query-btn {
    height: 40px; /* Altura consistente com outros campos */
    background-color: #4caf50; /* Cor de fundo verde */
    color: white; /* Texto em branco */
    border: none; /* Sem bordas */
    padding: 5px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de clique */
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

#execute-query-btn:hover {
    background-color: #3e8e41; /* Cor mais escura ao passar o mouse */
}
