/* Sidebar */
.queries-sidebar {
    background-color: #2e2e2e;
    padding: 17px 10px 0px 10px;
    box-sizing: border-box;
    min-width: 250px;
    width: 250px;
    flex-shrink: 0;
    position: relative; /* Necessário para posicionar a lingueta */
    transition: transform 0.3s ease, width 0.3s ease;
}

.queries-sidebar.hidden {
    transform: translateX(-240px); /* Move a sidebar para fora */
    width: 50px; /* Reduz a largura */
}

.queries-label {
    background-color: #1E1E1E;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.queries-method {
    font-size: smaller; /* Menor que o título */
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    margin-right: 8px;
    display: inline-block;
    width: 30px;
}

/* Cores específicas para os métodos */
.queries-method.get {
    background-color: #4caf50; /* Verde */
    color: white;
}

.queries-method.post {
    background-color: #ffc107; /* Amarela */
    color: black;
}

.queries-method.put {
    background-color: #2196f3; /* Azul */
    color: white;
}

.queries-method.del {
    background-color: #f44336; /* Vermelho */
    color: white;
}

/* Cores para os outros métodos */
.queries-method.opt {
    background-color: #9c27b0; /* Roxo */
    color: white;
}

.queries-method.head {
    background-color: #795548; /* Marrom */
    color: white;
}

.queries-method.copy {
    background-color: #ff9800; /* Laranja */
    color: black;
}

.queries-method.link {
    background-color: #3f51b5; /* Azul Escuro */
    color: white;
}

.queries-method.unlk {
    background-color: #673ab7; /* Roxo Escuro */
    color: white;
}

.queries-method.purg {
    background-color: #e91e63; /* Rosa */
    color: white;
}

.queries-method.lock {
    background-color: #607d8b; /* Azul Cinza */
    color: white;
}

.queries-method.pfnd {
    background-color: #009688; /* Verde Água */
    color: white;
}

.queries-method.view {
    background-color: #8bc34a; /* Verde Claro */
    color: white;
}

.queries-name {
    flex-grow: 1;
    text-align: left;
}

.queries-sidebar.hidden {
    transform: translateX(-240px); /* Move a sidebar para fora */
    width: 50px; /* Reduz a largura */
}

.toggle-container {
    position: fixed;
    top: 9px;
    left: 245px;
    z-index: 1000;
    padding: 10px 0px 10px 0px;
    border-radius: 0px 5px 5px 0px;
    background-color: #2e2e2e;
    pointer-events: all;
    transition: transform 0.3s ease;
}

.queries-sidebar.hidden + .toggle-container {
    transform: translateX(-240px); /* Move a lingueta junto com a barra oculta */
}

.toggle-lingueta {
    position: relative;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px 0 0 5px; /* Bordas arredondadas */
    padding: 8px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 9999; /* Garante que fique acima de outros elementos */
}

.toggle-lingueta:hover {
    background-color: #3e8e41;
}

/* Adicionar estilo consistente para hover e seleção */
.query-item:hover .queries-label,
.query-item.selected .queries-label {
    background-color: #444; /* Cor ao passar o mouse ou selecionar */
    border-color: #888;     /* Borda mais clara */
    transition: background-color 0.2s ease, border-color 0.2s ease; /* Transição suave */
}

.queries-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.queries-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.queries-buttons {
    display: flex;
    gap: 10px;
}

#toggle-sidebar-btn {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-sidebar-btn:hover {
    background-color: #1e1e1e;
}

ul#queries-list {
    list-style: none;
    padding: 0;
    cursor: pointer;
}

#new-blank-query-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#new-blank-query-btn:hover {
    background-color: #3e8e41;
}

/* Botão do menu (...) */
.menu-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin-left: auto; /* Alinha à direita */
    position: relative;
}

.menu-button:hover {
    color: #1e1e1e;
}

/* Menu de opções */
.menu-options {
    position: absolute;
    top: 100%; /* Abaixo do botão */
    right: 0; /* Alinha à direita */
    background-color: #1E1E1E;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 5px 0;
    display: none; /* Ocultar inicialmente */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Garantir que fique sobre outros elementos */
}

/* Menu visível */
.menu-options.visible {
    display: block;
}

/* Botões dentro do menu */
.menu-options button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 5px 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.menu-options button:hover {
    background-color: #333;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #2e2e2e;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #555;
    color: white;
    width: 300px;
    text-align: center;
}

.modal-content.inputbox {
    height: 40px;
    background-color: #3e3e3e;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0 10px;
    margin-right: 5px;
    width: 55%;
    text-align: left;
}

.modal-content.button {
    height: 40px; /* Altura consistente com outros campos */
    background-color: #4caf50; /* Cor de fundo verde */
    color: white; /* Texto em branco */
    border: none; /* Sem bordas */
    padding: 5px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de clique */
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s ease; /* Transição suave para hover */
    width: 40px;
    margin-right: 5px;
}

.modal-content.button:hover {
    background-color: #3e8e41; /* Cor mais escura ao passar o mouse */
}

.modal-content.esc {
    height: 40px; /* Altura consistente com outros campos */
    background-color: #f44336; /* Cor de fundo verde */
    color: white; /* Texto em branco */
    border: none; /* Sem bordas */
    padding: 5px 15px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de clique */
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s ease; /* Transição suave para hover */
    width: 40px;
    margin-right: 5px;
}

.modal-content.esc:hover {
    background-color: #d32f2f;
}
